In [1]:
# Import the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
# Read the data
df=pd.read_csv("C:\\Users\\Simmy\\Downloads\\sentiment (1).csv")

In [42]:
#Check first 5 rows
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [7]:
# size of the data:
df.shape

(31962, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31962 entries, 0 to 31961
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      31962 non-null  int64
 1   label   31962 non-null  int64
 2   tweet   31962 non-null  object
dtypes: int64(2), object(1)
memory usage: 749.2+ KB

In [12]:
df.describe()

                 id         label
count  31962.000000  31962.000000
mean   15981.500000      0.070146
std     9226.778988      0.255397
min        1.000000      0.000000
25%     7991.250000      0.000000
50%    15981.500000      0.000000
75%    23971.750000      0.000000
max    31962.000000      1.000000

In [13]:
df.isnull().sum().any()

False

In [16]:
# Total no of classes in target value
df['label'].value_counts()

0    29720
1     2242
Name: label, dtype: int64

In [19]:
# seems like a class imbalance prob

In [20]:
# understanding the sentiments in the data
df[df['label']==0].head(10)

   id  label                                              tweet
0   1      0   @user when a father is dysfunctional and is s...
1   2      0  @user @user thanks for #lyft credit i can't us...
2   3      0                                bihday your majesty
3   4      0  #model   i love u take with u all the time in ...
4   5      0             factsguide: society now    #motivation
5   6      0  [2/2] huge fan fare and big talking before the...
6   7      0   @user camping tomorrow @user @user @user @use...
7   8      0  the next school year is the year for exams.ð...
8   9      0  we won!!! love the land!!! #allin #cavs #champ...
9  10      0   @user @user welcome here !  i'm   it's so #gr...

In [21]:
df[df['label']==1].head(10)

      id  label                                              tweet
13    14      1  @user #cnn calls #michigan middle school 'buil...
14    15      1  no comment!  in #australia   #opkillingbay #se...
17    18      1                             retweet if you agree!
23    24      1    @user @user lumpy says i am a . prove it lumpy.
34    35      1  it's unbelievable that in the 21st century we'...
56    57      1            @user lets fight against  #love #peace
68    69      1  ð©the white establishment can't have blk fol...
77    78      1  @user hey, white people: you can call people '...
82    83      1  how the #altright uses  &amp; insecurity to lu...
111  112      1  @user i'm not interested in a #linguistics tha...

In [22]:
# lets classify the tweets into positive or negative sentiment

In [24]:
df.isnull().sum() # there is no null values

id       0
label    0
tweet    0
dtype: int64

In [27]:
# ID is not helpful so remove it 
df.drop(['id'],axis=1,inplace=True)
df.head()

   label                                              tweet
0      0   @user when a father is dysfunctional and is s...
1      0  @user @user thanks for #lyft credit i can't us...
2      0                                bihday your majesty
3      0  #model   i love u take with u all the time in ...
4      0             factsguide: society now    #motivation

In [28]:
# Data preprocessing

import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [35]:
# functions to remove punctuation

#function to remove punctuation

def clean(text):
    remv_pun=[char for char in text.lower() if char not in string.punctuation]
    remv_punc_join = ''.join(remv_pun)
    return remv_punc_join

In [36]:
clean(' @ Great beginning,,, takes! time,,,.   #run')

'  great beginning takes time   run'

In [38]:
tweets_df_clean = df['tweet'].apply(clean)

In [44]:
tweets_df_clean[6]

' user camping tomorrow user user user user user user user dannyâ\x80¦'

In [45]:
tweets_df_clean.head()

0     user when a father is dysfunctional and is so...
1    user user thanks for lyft credit i cant use ca...
2                                  bihday your majesty
3    model   i love u take with u all the time in u...
4                 factsguide society now    motivation
Name: tweet, dtype: object

In [46]:
# Install a popular nlp library called nltk
!pip install nltk

Requirement already satisfied: nltk in c:\users\simmy\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\simmy\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: tqdm in c:\users\simmy\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\simmy\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: joblib in c:\users\simmy\anaconda3\lib\site-packages (from nltk) (1.0.1)

In [47]:
# Remove stopwords
import nltk
stopwords=nltk.corpus.stopwords.words('english')
print(stopwords[:5])

['i', 'me', 'my', 'myself', 'we']

In [48]:
tweets_df = pd.DataFrame(tweets_df_clean)
tweets_df.columns

Index(['tweet'], dtype='object')

In [49]:
# stopwords treatment and converting the data into lower case
def stop(text):
    remv_stop = [a for a in text.split() if a.lower() not in stopwords]
    remv_stop_join = ' '.join(remv_stop)
    return remv_stop_join

In [50]:
stop(tweets_df['tweet'][0])

'user father dysfunctional selfish drags kids dysfunction run'

In [51]:
tweets_df_stopwords = tweets_df['tweet'].apply(stop)

In [52]:
tweets_df_stopwords[:2]

0    user father dysfunctional selfish drags kids d...
1    user user thanks lyft credit cant use cause do...
Name: tweet, dtype: object

In [53]:
tweets_df_stopwords = pd.DataFrame(tweets_df_stopwords)
tweets_df_stopwords

                                                   tweet
0      user father dysfunctional selfish drags kids d...
1      user user thanks lyft credit cant use cause do...
2                                         bihday majesty
3      model love u take u time urð± ðððð...
4                          factsguide society motivation
...                                                  ...
31957  ate user isz youuuððððððð...
31958  see nina turner airwaves trying wrap mantle ge...
31959    listening sad songs monday morning otw work sad
31960  user sikh temple vandalised calgary wso condem...
31961                                  thank user follow

[31962 rows x 1 columns]

In [67]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

def steming(text):
    ste = [st.stem(word) for word in text.split()]
    ste_join = ' '.join(ste)
    return ste_join

In [68]:
tweets_df_stem = tweets_df_stopwords['tweet'].apply(steming)

tweets_df_stem[:2]

# The dataset has been stemmed to its root word

0    user father dysfunct selfish drag kid dysfunct...
1    user user thank lyft credit cant use caus dont...
Name: tweet, dtype: object

In [69]:
tweets_df_stopwords['tweet'][0]

'user father dysfunctional selfish drags kids dysfunction run'

In [70]:
# Applying Lemmatization
from nltk.stem import WordNetLemmatizer
wl = WordNetLemmatizer()

In [71]:
import nltk
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Simmy\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [74]:
def lematize(text):
    ste = [wl.lemmatize(word) for word in text.split()]
    ste_join = ' '.join(ste)
    return ste_join

In [75]:
lematize('Dogs keepss on barkings')

'Dogs keep on barkings'

In [76]:
tweets_df_stopwords.iloc[:2]

                                               tweet
0  user father dysfunctional selfish drags kids d...
1  user user thanks lyft credit cant use cause do...

In [77]:
tweets_df_stem = pd.DataFrame(tweets_df_stem)
tweets_df_stem.head()

                                               tweet
0  user father dysfunct selfish drag kid dysfunct...
1  user user thank lyft credit cant use caus dont...
2                                     bihday majesti
3  model love u take u time urð± ðððð...
4                            factsguid societi motiv

In [81]:
# Applying the Count Vectorizer 

from sklearn.feature_extraction.text import CountVectorizer 

cv = CountVectorizer(max_features=5000)

sen = tweets_df_stem['tweet'].tolist()
len(sen)

31962

In [83]:
from pandas import DataFrame

In [84]:
def document_matrix(text,vectorizer):
    mat = vectorizer.fit_transform(text)
    return DataFrame(mat.toarray())

In [85]:
m = document_matrix(sen,cv)
m.head()

,0,1,2,3,4,5,6,7,8,9,...,4990,4991,4992,4993,4994,4995,4996,4997,4998,4999
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0